.score-wrapper {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 10px;
  background-color: blanchedalmond;
  h2 {
    text-align: center;
    color: darkblue;
  }
}

.score {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}