.board {
  display: inline-block;
  position: relative;
  width: fit-content;
  &__background {
    position: relative;
    width: fit-content;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    border: 1px black solid;
    z-index: 10;
  }
}