.board {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  margin-top: 100px;
  &__background {
    width: fit-content;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    border: 1px black solid;
  }
}